[submodule "server"]
	path = server
	url = https://github.com/opex-research/server
[submodule "client"]
	path = client
	url = https://github.com/opex-research/client
	branch = realserver
[submodule "proxy"]
	path = proxy
	url = https://github.com/opex-research/proxy
	branch = realserver