[submodule "server"]
	path = server
	url = git@github.com:opex-research/server.git
[submodule "client"]
	path = client
	url = git@github.com:opex-research/client.git
	branch = realserver
[submodule "proxy"]
	path = proxy
	url = git@github.com:opex-research/proxy.git
	branch = realserver